<li>
	<%= oferta.detalle %>
	<% if @producto.vencido and not @producto.ganador %>
		<%= form_tag('/trade/new', :method => 'post') do %>
		
		<%= hidden_field_tag :oferta_id, oferta.id %>

		<div class="actions"><%= submit_tag "Elegir", class: 'btn btn-warning', data: { confirm: 'Estás seguro?' } %></div>  
		<% end %>
	<% end %>
</li>
