<li>
	<%= link_to producto.nombre, producto %> (Vence: <%= producto.vencimiento %>)
	<% if producto.ganador %><span style="color:red">Finalizado</span>
	<% elsif producto.vencido %><span style="color:green">Vencido</span>
	<% end %>
	</br>
	<%= image_tag producto.imagen, size:'200x200' %></br>
	<%= truncate(producto.descripcion) %>
</li>
