<h2 stile="color:red">Una vez eliminada su cuenta, no podrá ser recuperada</h2>
<h3>Si desea continuar, ingrese su contraseña</h3>
<%= render 'conf' %>
<h3>De lo contrario puede volver a su perfil</h3>
<%= link_to 'Volver', Usuario.find(session[:usuario_id]), class: 'btn btn-primary' %>