<h1><%= @usuario.alias %></h1>
<%= link_to "Eliminar cuenta", @usuario, method: :delete, data: { confirm:'Estas seguro?'}, class: 'btn btn-danger'%>
<h2>Mis productos</h2>
<ul>
	<% @usuario.productos.each do |p| %>
		<li>
			<%= link_to p.nombre, p %>
		</li>
	<% end %>
	<% if @usuario.productos.count == 0 %>
		Usted no ha publicado productos.
	<% end %>
</ul>
