@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: rgb(200, 191, 231);
  padding-top: 100px;
}

header {
  .navbar-inverse .navbar-brand {
    color: black;
    font-size: 2em;
    height: 100px;
  }
}

.form-control {
	margin-bottom: 5px;
}
