
<header>
  <div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
          
        <%= link_to root_path, class: 'navbar-brand' do %>
         <%= image_tag "logo.png", title: "Logo", class: "logo" %>
        <% end %>

        <%= link_to "Regístrate", new_usuario_path, class: 'btn btn-default' %>
        <%= link_to "Usuarios", usuarios_path, class: 'btn btn-default' %>
          
      </div>


    </div>

  </div>

</header>
